.CodeMirror-scroll {
  overflow-x: hidden !important;
}

.react-codemirror2 {
  height: 100% !important;
}

.cm-matchhighlight {
  background-color: rgb(255 255 255 / 20%);
  opacity: 0.7;
}

.CodeMirror-selection-highlight-scrollbar {
  background-color: rgb(227, 238, 227);
}

/* .CodeMirror-activeline-background {
    background-color: #134666 !important;
  } */
/* .CodeMirror-activeline .CodeMirror-linenumber {
    background-color: #003251 !important;
  } */
/* .CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
    background: #003251;
  } */

.remote-caret {
  position: relative;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-left: -1px;
  margin-right: -1px;
  box-sizing: border-box;
}
.remote-caret > div {
  position: absolute;
  top: -1.05em;
  left: -1px;
  font-size: 1em;
  background-color: rgb(250, 129, 0);
  font-family: serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  user-select: none;
  color: white;
  padding-left: 2px;
  padding-right: 2px;
  z-index: 3;
  transition: opacity 0.3s ease-in-out;
}
.remote-caret.hide-name > div {
  /* transition-delay: 0.7s;
    opacity: 0; */
}
.remote-caret:hover > div {
  opacity: 1;
  transition-delay: 0s;
}
